body 
{   
    padding: 0;    
    font-size: 14px;
}

  
#calendar 
{
    max-width: 1100px;    
    margin: 0 auto;
    overflow-y: auto;
  
}

#calendar .fc-toolbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 8px;
    margin-bottom: 20px;
}

#calendar .fc-toolbar button
{
    background-color: var(--secondary-light);
    color: var(--black);
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

#calendar .fc-toolbar button:hover
{
    background-color: var(--secondary-light-2);
}

#calendar .fc-toolbar .fc-button-group
{
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.fc-scroller{
    background-color: transparent;
}




