.playlist{
    width: 100%;    
    display: grid;
    grid-template-columns: 1.5fr 1.2fr;
    gap: 50px;   
    text-transform: capitalize;
}
.main-video, .video-playlist {
    width: 100%;
    height: 100px;
    margin-left: 50px;
    
}
.main-video .title {
    margin-top: 1rem;
}
.main-video video {
    width: 100%;
    border-radius: .5rem;
}
.main-video .video-info {
    padding-left: 1rem;
}
.video-playlist{
    width: 350px;
    border: 1px solid;
    height: 440px;    
    background-color: var(--black);
    border-radius: 10px;
}
.video-playlist div {
    display: grid;
    align-items: center;
    padding: 1rem;
    justify-content: left;    
}
.video-playlist div p {
    padding-left: 15px;
}
.video-playlist .title {
    padding-left: 1rem;
}

.video-playlist > p {
    padding: 1rem;
    
}

