
.playlist-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.playlist {
    flex: 1 1 calc(25% - 20px); /* 25% para 4 itens por linha menos o gap */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.playlist img {
    width: 100%;
    height: auto;
    display: block;
}

.playlist h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.playlist p {
    font-size: 14px;
    color: #666;
    margin: 0 0 10px;
}

